/*CSS for Footer start*/

#footer {
}

.social-media-container {
  align-items: center;
  justify-items: center;
}

.footer-h2 {
  padding-top: 2rem;
  font-family: pacifico;
  color: #fff;
  padding-bottom: 1rem;
  background-color: #333;
  text-align: center;
}

#footer h2 {
  margin-top: 2rem;
  font-family: pacifico;
  color: #fff;
  padding-bottom: 1rem;
}

.footer-navbar {
  background-color: #333;
  border-radius: 3px;
}

.footer-nav-links {
  list-style: none;
  display: flex;
  margin: auto;
  flex-direction: row;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  justify-content: space-around;
  align-items: center;
  gap: 14rem;
}

.footer-nav-links a {
  color: white;
  text-decoration: none;
}

.nav-links li:hover {
  background-color: rgba(243, 158, 0, 0.535);
  color: black;
}

.social-media {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  gap: 5rem;
  background-color: #333;
  padding-top: 5rem;
}

.social-media img {
  width: 60px;
}

.pinterest__media:hover {
  filter: sepia(2);
}

.youtube:hover {
  filter: sepia(2);
}

.pinterest:hover {
  filter: sepia(2);
}

.pinterest {
  padding-top: 0.9rem;
}

.social-media-lang.social-media {
  display: flex;
  align-items: center;
}

.social-media-lang .lang {
  display: flex;
  justify-content: end;
  align-items: flex-end;
  padding-bottom: 3rem;
  padding-right: 3rem;
  justify-items: center;
}

.social-media {
  gap: 1rem;
  background-color: #333;
}

.lang {
  background-color: #333;
}

.lang label,
option {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
  font-weight: 100;
  font-size: smaller;
}

.lang label {
  width: 130px;
  align-items: center;
}

/*CSS for Footer end*/
