.section-video{
  background-color: #ddcaca;
  background-size: 100%;
}
.header-video{
  text-align: center;
  margin: 3rem;
  letter-spacing: 1px;
  font-size: 2rem;
  text-decoration: underline 3px rgb(115, 87, 92);
  font-family: cursive;
}
.video-description{
  margin: 3rem;
  text-align: center;
  letter-spacing: .5px;
  font-family: cursive;
}
.video_video-description{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 3rem;
  }
iframe{
  border: 2rem solid rgb(193, 160, 166);
  border-radius: 50px;
}
iframe:hover{
  border-radius: 0;
  transition: 0.5s ease;  
  width: 550px;
  height: 350px;
}