
.header-discount {
  text-align: center;
  margin: 1rem;
  letter-spacing: 1px;
  text-decoration: underline;
}
.structure {
  margin: 1.5rem;
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;
  justify-content: space-evenly;
}
.list_benefits {
  margin-top: 2rem;
}
li {
  list-style: none;
  font-size: large;
  letter-spacing: 1px;
  margin-top: 3rem;
}
li::marker {
  content: url(cake.png);
}
.stampcard {
  filter: grayscale(40%);
}
.stampcard:hover {
  filter: grayscale(0%);
  transition: 0.7s;
}
